.carousel-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
}

.slider-wrapper {
  max-width: 100%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.slider-wrapper p {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.carousel-container {
  padding: 0.5rem;
  width: 100%;
  height: calc(50vw);
  box-sizing: border-box;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.carousel-image:hover {
  transform: scale(1.05);
}

@media (max-width: 736px) and (orientation: landscape) {
  .carousel-wrapper {
    padding: 0.5rem 1rem;
  }

  .slider-wrapper {
    padding: 0 0.5rem;
  }

  .slider-wrapper p {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.25rem;
    text-align: center;
  }

  .carousel-container {
    height: 40vh;
  }
}

@media (min-width: 667px) and (max-width: 667px) and (orientation: landscape) {
  .slider-wrapper p {
    font-size: 0.875rem;
  }

  .carousel-container {
    height: 35vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .slider-wrapper p {
    font-size: 1.5rem;
  }

  .carousel-container {
    height: 25vh;
    padding: 0.625rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .carousel-wrapper {
    padding: 0 2rem;
  }

  .slider-wrapper {
    padding: 1rem 0;
  }

  .carousel-container {
    height: 30vh;
  }

  .slider-wrapper p {
    font-size: 1.5rem;
  }
}